 .splash-page-body {
    width: 100%; 
    height: 400px; 
    background-color:  #fffdfd; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 100px; 
 }

 .welcome-page-header {
    font-family: gordita, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400; 
    font-size: 60px; 
    margin: 0 auto; 
    padding: 50px; 
 }

 .welcome-page-greeter {
    font-family: gordita, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200; 
    font-size: 40px; 
    margin: 0 auto; 
    padding: 30px;    
 }

 .splash-header {
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.try-for-free {
    background-color: #796eff;
    font-size: 15px; 
    padding: 10px 30px; 
    margin: 10px; 
    border: 1px solid lightgray; 
    border-radius: 4px; 
    color: whitesmoke; 
    cursor: pointer; 
}

.try-for-free:hover {
    background-color:  #6057c2;
}

.login-header {
    background: none; 
    border: none; 
    cursor: pointer; 
    font-size: 14px; 
    margin: 0px 20px; 
    outline: none; 
}

.login-header:hover {
    color: #6057c2;
}

.login-signup {
    /* position: fixed;  */
    display: flex; 
    justify-content: flex-end; 
    background:  #fffdfd; 
}

.asana-logo {
    height: 40px; 
}

.logo-holder {
    position: absolute; 
    left: 0; 
    margin-left: 20px; 
    margin-top: 10px; 
    display: flex; 
}

.oenana-logo {
    padding: 4px 10px; 
    font-size: 30px; 
}

.welcome-page-descriptions {
    display: flex; 
    width: 70%; 
    padding-top: 20px; 
}

.description-header {
    margin: 15px; 
    width: 30%; 
    font-size: 20px; 
    font-weight: bold; 
}

.explanations {
    padding: 10px 0px 10px 0px; 
    width: 65%; 
    font-size: 15px; 
    font-weight: normal; 
}

.asana-background {
    width: 100%; 
}

.footer-container {
    background-color: #383a4f; 
    display: flex; 
    justify-content: space-around; 
    align-content: center; 
    margin: -5px; 
    height: 40px; 
}

.footer-link {
    padding: 10px; 
    text-decoration: none; 
    color: #fffdfd;
}